.fullscreenDiv {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    bottom: 0px;
    top: 0px;
    left: 0;
    position: absolute;
    overflow-x:hidden;
    width: 100%;
}

.title{
    color: white;
}